<div class="container mt-5">
    <h1 class="text-center">Create Product</h1>
    <div class="row">
        <div class="col-lg-6 col-md-10 col-11 mx-auto">
            <form action="/garments/<%= garment_id %>/products" method="POST">
                <div class="mb-3">
                  <label for="name" class="form-label">Product Name</label>
                  <input type="text" class="form-control" id="name" name="name" >
                </div>
                <div class="mb-3">
                  <label for="brand" class="form-label">Brand</label>
                  <input type="text" class="form-control" id="brand" name="brand" >
                </div>
                <div class="mb-3">
                  <label for="color" class="form-label">Color</label>
                  <input type="text" class="form-control" id="color" name="color" >
                </div>
                <div class="mb-3">
                  <label for="price" class="form-label">Price</label>
                  <input type="number" class="form-control" id="price" name="price" >
                </div>
                <div class="mb-3">
                    <label for="category" class="form-label">Price</label>
                    <select class="form-select" name="category">
                        <option value="Aksesoris">Aksesoris</option>
                        <option value="Baju">Baju</option>
                        <option value="Celana">Celana</option>
                        <option value="Jaket">Jaket</option>
                      </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button> 
                <a href="/products" class="btn btn-danger">Cancel</a></a>
            </form>
        </div>
    </div>

</div>